# 파이썬의 과학기술 분야 Ecosystem
<img src="img/1강/파이썬과학기술라이브러리.jpg" alt="datetime" style="width: 1200px;"/>
# 1. Pandas 소개
<img src="img/1강/6pandas소개.jpg" alt="datetime" style="width: 1200px;"/>
# [ Pandas API 공식 문서 ]
## http://pandas.pydata.org/pandas-docs/stable/api.html

# 2. Pandas 주요 데이터 타입

## 2.1. Series (시리즈)
<img src="img/1강/Series소개.jpg" alt="datetime" style="width: 1200px;"/>

In [10]:
# Pandas 라이브러리 임포트
import pandas
import pandas as pd #as를 통해 별칭 부여
from pandas import Series

## 2.1.1 Series 생성

In [11]:
#data1 = pandas.Series([3,5,1,2])
#data1 = pd.Series([3,5,1,2])
data1 = Series([3,5,1,2])

In [13]:
data1

0    3
1    5
2    1
3    2
dtype: int64

In [14]:
type(data1.values) #pandas는 numpy기반으로 구현되어 있음

numpy.ndarray

In [38]:
#값은 모든 데이터 타입이 가능함
data2 = Series(['big data', 30,5000, 40.5])

In [39]:
data2

0    big data
1          30
2        5000
3        40.5
dtype: object

In [42]:
#인덱스 라벨 추가
data2.index = ['강의명','수강생', '가격', '비고']

In [43]:
data2

강의명    big data
수강생          30
가격         5000
비고         40.5
dtype: object

In [44]:
data2['강의명']

'big data'

In [29]:
#숫자 인덱스로도 색인가능
data2[2]

20

In [45]:
#사전 타입으로도 series 가능
data3 = Series({'A':50, 'B':30, 'C':20})
data3

A    50
B    30
C    20
dtype: int64

In [48]:
data4 = Series([15,53,24,52,93,30,33,80,90,77],
                index = list('abcdefghij'))
data4

a    15
b    53
c    24
d    52
e    93
f    30
g    33
h    80
i    90
j    77
dtype: int64

2.2.2 Series 색인

In [49]:
#특정 인덱스로 접근(숫자 인덱스)
#5번째 항목 출력
data4[4]

93

In [51]:
#인덱스 라벨로 접근
#인덱스 라벨이 'f'인 항목을 출력
data4['f']

30

In [58]:
#여러 인덱스 접근
#숫자 인덱스가 2,4,6인 항목을 출력
data4[[2,4,6]]
#외부 괄호: 색인하겠다
#내부 괄호: list를 의미

c    24
e    93
g    33
dtype: int64

In [60]:
#인덱스 라벨이 'b','d','h' 인 항목 출력
data4[['b','d','h']]

b    53
d    52
h    80
dtype: int64

In [67]:
#역인덱스
#가장 마지막 항목 출력
#data4[9]
#data4[data4.size-1] #타 언어의 경우
data4[-1]

77

In [68]:
data4[-3] #마지막에서 3번째

80

# 인덱스 슬라이싱 (숫자 인덱스)
<img src="img/1강/3문자열슬라이싱.jpg" alt="datetime" style="width: 800px;"/>

### 1) :을 기점으로 왼쪽에 start index, 오른쪽에 end index 지정
### 2) start index 보다 크거나 같고, end index보다 작은 항목을 선택
### 3) 예를 들어, a[2:5]는 a[[2,3,4]]와 동일
### 4) start index와 end index는 생략 가능하며, 생략 시 start index는 첫 인덱스, end index는 끝 인덱스로 지정됨.
### 5) 음수 인덱스는 끝에서 시작되는 역인덱스임.

# 조건을 활용한 인덱스 선택 (조건 색인)
# 매우 많이 활용되므로, 꼭 알고 있어야 함!
<img src="img/1강/조건색인.jpg" alt="datetime" style="width: 1000px;"/>

## 2.2.3. Series 속성 조회 및 주요 함수
<img src="img/1강/Series주요속성및함수.jpg" alt="datetime" style="width: 1000px;"/>

### 속성 (Attributes)

### 주요 함수

=============================================================
# 실습 문제

In [76]:
import random

In [77]:
# 실습 데이터 생성
sample = random.sample(range(1,100),26) # 1~100사이의 값을 26개 생성하여 list로 반환
data = Series(sample, index = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ'))
data

A    89
B    55
C     4
D    35
E    46
F    72
G    29
H    12
I    32
J    79
K    23
L    21
M    30
N    43
O    70
P    57
Q    50
R    36
S    78
T    75
U    61
V    65
W    73
X    19
Y    94
Z    24
dtype: int64

In [ ]:
# 1) 인덱스 라벨이 'K' 항목의 값 출력

In [ ]:
# 2) 인덱스 라벨이 'A','F','C' 항목의 값 출력

In [ ]:
# 3) 5번 인덱스부터 15번 인덱스까지의 항목 출력

In [ ]:
# 4) 뒤에서 5개 항목 출력

In [ ]:
# 5) data의 항목의 갯수를 출력

In [ ]:
# 6) data 항목 값들의 평균보다 큰 항목만 출력 
## Hint. data 항목 값들의 평균은 data.mean()으로 구할 수 있다.

In [ ]:
# 7) data의 항목 값 중에 50이 있는지 확인하여, 있으면 True, 없으면 False를 출력

In [ ]:
# 8) data의 인덱스 라벨과 각 항목 값을 아래와 같이 출력
# index: A, value: XX
# index: B, value: XX
# index: C, value: XX